.layout{
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #999;
    padding: 20px 40px;
}

.header h1{
    font-size: 2rem;
}

.header span{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}

.content{
    margin: 20px;
    height: 50%;
}